# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# virtual environments
venv/
.env/

# IDE specific
.idea/

# Log files
*.log

# Other
*.sqlite3
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
